@font-face {
	font-family: Cozette;
	src: url('/src/fonts/CozetteVector.ttf');
}

html, body {
	scroll-snap-type: y mandatory;
	margin: auto;
	font-family: Cozette;
	background-color: black;
}

.container {
	min-height: 100vh;
	max-height: 100vh;
	scroll-snap-align: start;
	position: absoute;
	top: 0;
	left: 0;
	bottom: 0;
}

.content {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1;
}

