.container {
	position: relative;
	top: 50%;
	transform: translateY(50%);
}

.content {
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	gap: 10%;
	display: grid;
	margin-left: 10%;
	margin-right: 10%;
}

