@font-face {
	font-family: Cozette;
	src: url('../fonts/CozetteVector.ttf');
}

* {
    -webkit-overflow-scrolling: touch;
}

html, body {
	scroll-snap-type: y mandatory;
	margin: auto;
	overflow-x: clip;
	font-family: Cozette;
	background-color: black;
}

.container {
	min-height: 100vh;
	max-height: 100vh;
	scroll-snap-align: start;
	position: relative;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 1;
}

.content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	z-index: 1;
}

