html, body {
	scroll-snap-type: y mandatory;

}
.container {
	background-color: black;
	min-height: 100vh;
	max-height: 100vh;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	scroll-snap-align: start;
}

.content {
	color: #61dafb;
	position: absolute;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

.Chevron {
	grid-template-row: 2/-1;
}
