.TextBox {
	display: flex;
	flex-direction: column;
	width: 80%;
	min-height: 60%;
	max-height: 80%;
	margin: auto;
	position: relative;
	align-items: center;
	color: rgba(255, 255, 255, 255);
}

.TextBox h1 {
	font-size: calc(48px + 3vw);
}

.TextBox p {
	text-align: center;
	margin-top: 12vmin;
	font-size: calc(30px + 1vw);
}

.imah1 {
}

.imap {
	font-size: calc(18px + 1vmin) !important;
	text-align-last: center;
}

@media screen and (max-width: 800px) {
	.imap {
		margin-top: 5vh !important;
		font-size: calc(14px + 1vmin) !important;
	}
}
