.TextBox {
	display: flex;
	flex-direction: column;
	width: 80%;
	min-height: 60%;
	max-height: 80%;
	margin: auto;
	position: relative;
	justify-content: center;
	align-items: center;
	color: rgba(255, 255, 255, 255);
}

.TextBox h1 {
	font-size: calc(48px + 3vw);
}

.TextBox p {
	font-size: calc(28px + 1vw);
}

.imah1 {
}

.imap {
	font-size: calc(16px + 1vmin) !important;
}
