.TextBox {
	display: flex;
	flex-direction: column;
	width: auto;
	position: absolute;
	left: 0;
	top: 50%;
	align-items: center;
	color: rgba(255, 255, 255, 255);
}

.TextBox > h1 {
	font-size: calc(48px + 3vw);
}

.TextBox > p {
	text-align: center;
	margin: 14vmin;
	font-size: calc(30px + 1vw);
}

.imap {
	font-size: calc(18px + 1vmin) !important;
	text-align-last: center;
}

@media screen and (max-width: 800px) {
	.imap {
		margin-top: 5vh !important;
		font-size: calc(14px + 1vmin) !important;
	}
}
